
    /*Qaqot Builderi partner*/
    :root{

      --bodyBg: #1a1a1a;
      --bodyBg2: #292929;
      --bodyBg3: #393939;
      --bodyBgHover: #222222;
      --bodyBg2Hover: #313131;
      --bodyBg3Hover: #414141;
      --bodyRGBA: rgba(26, 26, 26, 0.7);
      --bodyRGBA2: rgba(26, 26, 26, 0.5);
      --bodyRGBA3: rgba(26, 26, 26, 0.3);
      --bodyRGBA3: rgba(26, 26, 26, 0.3);
      --bodyTxt: rgba(255, 255, 255, 0.9);
      --bodyTxt2: rgba(255, 255, 255, 0.6);
      --bodyTxt3: rgba(255, 255, 255, 0.4);
      --bodyAccent: #f14100;
      --bodyAccentTxt: rgba(249, 249, 249, 0.9);
      --bodyBorder: #f14100;
      --bodyRadius: 2px 2px 2px 2px;

      --accentBg: #f14100;
      --accentBg2: #ff5111;
      --accentBg3: #ff672f;
      --accentBgHover: #ff4601;
      --accentBg2Hover: #ff5c20;
      --accentBg3Hover: #ff723e;
      --accentRGBA: rgba(241, 65, 0, 0.7);
      --accentRGBA2: rgba(241, 65, 0, 0.5);
      --accentRGBA3: rgba(241, 65, 0, 0.3);
      --accentRGBA3: rgba(241, 65, 0, 0.3);
      --accentTxt: rgba(249, 249, 249, 0.9);
      --accentTxt2: rgba(249, 249, 249, 0.6);
      --accentTxt3: rgba(249, 249, 249, 0.4);
      --accentAccent: #f14100;
      --accentAccentTxt: rgba(249, 249, 249, 0.9);
      --accentBorder: #f14100;
      --accentRadius: 2px 2px 2px 2px;

      --dominantBg: #fff;
      --dominantBg2: #e6e6e6;
      --dominantBg3: #d9d9d9;
      --dominantBgHover: #f7f7f7;
      --dominantBg2Hover: #dedede;
      --dominantBg3Hover: #d1d1d1;
      --dominantRGBA: rgba(255, 255, 255, 0.7);
      --dominantRGBA2: rgba(255, 255, 255, 0.5);
      --dominantRGBA3: rgba(255, 255, 255, 0.3);
      --dominantRGBA3: rgba(255, 255, 255, 0.3);
      --dominantTxt: rgba(252, 252, 252, 0.9);
      --dominantTxt2: rgba(252, 252, 252, 0.6);
      --dominantTxt3: rgba(252, 252, 252, 0.4);
      --dominantAccent: #f14100;
      --dominantAccentTxt: rgba(249, 249, 249, 0.9);
      --dominantBorder: #f14100;
      --dominantRadius: 2px 2px 2px 2px;

      --buttonBg: #f14100;
      --buttonBg2: #ff5111;
      --buttonBg3: #ff672f;
      --buttonBgHover: #ff4601;
      --buttonBg2Hover: #ff5c20;
      --buttonBg3Hover: #ff723e;
      --buttonRGBA: rgba(241, 65, 0, 0.7);
      --buttonRGBA2: rgba(241, 65, 0, 0.5);
      --buttonRGBA3: rgba(241, 65, 0, 0.3);
      --buttonRGBA3: rgba(241, 65, 0, 0.3);
      --buttonTxt: rgba(249, 249, 249, 0.9);
      --buttonTxt2: rgba(249, 249, 249, 0.6);
      --buttonTxt3: rgba(249, 249, 249, 0.4);
      --buttonAccent: #f14100;
      --buttonAccentTxt: rgba(249, 249, 249, 0.9);
      --buttonBorder: #f14100;
      --buttonRadius: 2px 2px 2px 2px;

      --buttonSecondaryBg: #333333;
      --buttonSecondaryBg2: #424242;
      --buttonSecondaryBg3: #525252;
      --buttonSecondaryBgHover: #3b3b3b;
      --buttonSecondaryBg2Hover: #4a4a4a;
      --buttonSecondaryBg3Hover: #5a5a5a;
      --buttonSecondaryRGBA: rgba(51, 51, 51, 0.7);
      --buttonSecondaryRGBA2: rgba(51, 51, 51, 0.5);
      --buttonSecondaryRGBA3: rgba(51, 51, 51, 0.3);
      --buttonSecondaryRGBA3: rgba(51, 51, 51, 0.3);
      --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
      --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
      --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
      --buttonSecondaryAccent: #f14100;
      --buttonSecondaryAccentTxt: rgba(249, 249, 249, 0.9);
      --buttonSecondaryBorder: #f14100;
      --buttonSecondaryRadius: 2px 2px 2px 2px;

      --navbarBg: #fff;
      --navbarBg2: #e6e6e6;
      --navbarBg3: #d9d9d9;
      --navbarBgHover: #f7f7f7;
      --navbarBg2Hover: #dedede;
      --navbarBg3Hover: #d1d1d1;
      --navbarRGBA: rgba(255, 255, 255, 0.7);
      --navbarRGBA2: rgba(255, 255, 255, 0.5);
      --navbarRGBA3: rgba(255, 255, 255, 0.3);
      --navbarRGBA3: rgba(255, 255, 255, 0.3);
      --navbarTxt: rgba(252, 252, 252, 0.9);
      --navbarTxt2: rgba(252, 252, 252, 0.6);
      --navbarTxt3: rgba(252, 252, 252, 0.4);
      --navbarAccent: #f14100;
      --navbarAccentTxt: rgba(249, 249, 249, 0.9);
      --navbarBorder: #f14100;
      --navbarRadius: 2px 2px 2px 2px;

      --sliderBg: #1a1a1a;
      --sliderBg2: #292929;
      --sliderBg3: #393939;
      --sliderBgHover: #222222;
      --sliderBg2Hover: #313131;
      --sliderBg3Hover: #414141;
      --sliderRGBA: rgba(26, 26, 26, 0.7);
      --sliderRGBA2: rgba(26, 26, 26, 0.5);
      --sliderRGBA3: rgba(26, 26, 26, 0.3);
      --sliderRGBA3: rgba(26, 26, 26, 0.3);
      --sliderTxt: rgba(255, 255, 255, 0.9);
      --sliderTxt2: rgba(255, 255, 255, 0.6);
      --sliderTxt3: rgba(255, 255, 255, 0.4);
      --sliderAccent: #f14100;
      --sliderAccentTxt: rgba(249, 249, 249, 0.9);
      --sliderBorder: #f14100;
      --sliderRadius: 2px 2px 2px 2px;

      --headerBg: #fff;
      --headerBg2: #e6e6e6;
      --headerBg3: #d9d9d9;
      --headerBgHover: #f7f7f7;
      --headerBg2Hover: #dedede;
      --headerBg3Hover: #d1d1d1;
      --headerRGBA: rgba(255, 255, 255, 0.7);
      --headerRGBA2: rgba(255, 255, 255, 0.5);
      --headerRGBA3: rgba(255, 255, 255, 0.3);
      --headerRGBA3: rgba(255, 255, 255, 0.3);
      --headerTxt: rgba(252, 252, 252, 0.9);
      --headerTxt2: rgba(252, 252, 252, 0.6);
      --headerTxt3: rgba(252, 252, 252, 0.4);
      --headerAccent: #f14100;
      --headerAccentTxt: rgba(249, 249, 249, 0.9);
      --headerBorder: #f14100;
      --headerRadius: 2px 2px 2px 2px;

      --subHeaderBg: #fff;
      --subHeaderBg2: #e6e6e6;
      --subHeaderBg3: #d9d9d9;
      --subHeaderBgHover: #f7f7f7;
      --subHeaderBg2Hover: #dedede;
      --subHeaderBg3Hover: #d1d1d1;
      --subHeaderRGBA: rgba(255, 255, 255, 0.7);
      --subHeaderRGBA2: rgba(255, 255, 255, 0.5);
      --subHeaderRGBA3: rgba(255, 255, 255, 0.3);
      --subHeaderRGBA3: rgba(255, 255, 255, 0.3);
      --subHeaderTxt: rgba(252, 252, 252, 0.9);
      --subHeaderTxt2: rgba(252, 252, 252, 0.6);
      --subHeaderTxt3: rgba(252, 252, 252, 0.4);
      --subHeaderAccent: #f14100;
      --subHeaderAccentTxt: rgba(249, 249, 249, 0.9);
      --subHeaderBorder: #f14100;
      --subHeaderRadius: 2px 2px 2px 2px;

      --eventBg: #333333;
      --eventBg2: #424242;
      --eventBg3: #525252;
      --eventBgHover: #3b3b3b;
      --eventBg2Hover: #4a4a4a;
      --eventBg3Hover: #5a5a5a;
      --eventRGBA: rgba(51, 51, 51, 0.7);
      --eventRGBA2: rgba(51, 51, 51, 0.5);
      --eventRGBA3: rgba(51, 51, 51, 0.3);
      --eventRGBA3: rgba(51, 51, 51, 0.3);
      --eventTxt: rgba(255, 255, 255, 0.9);
      --eventTxt2: rgba(255, 255, 255, 0.6);
      --eventTxt3: rgba(255, 255, 255, 0.4);
      --eventAccent: #f14100;
      --eventAccentTxt: rgba(249, 249, 249, 0.9);
      --eventBorder: #f14100;
      --eventRadius: 2px 2px 2px 2px;

      --eventLiveBg: #424242;
      --eventLiveBg2: #515151;
      --eventLiveBg3: #616161;
      --eventLiveBgHover: #4a4a4a;
      --eventLiveBg2Hover: #595959;
      --eventLiveBg3Hover: #696969;
      --eventLiveRGBA: rgba(66, 66, 66, 0.7);
      --eventLiveRGBA2: rgba(66, 66, 66, 0.5);
      --eventLiveRGBA3: rgba(66, 66, 66, 0.3);
      --eventLiveRGBA3: rgba(66, 66, 66, 0.3);
      --eventLiveTxt: rgba(255, 255, 255, 0.9);
      --eventLiveTxt2: rgba(255, 255, 255, 0.6);
      --eventLiveTxt3: rgba(255, 255, 255, 0.4);
      --eventLiveAccent: #f14100;
      --eventLiveAccentTxt: rgba(249, 249, 249, 0.9);
      --eventLiveBorder: #f14100;
      --eventLiveRadius: 2px 2px 2px 2px;

      --oddBg: #fff;
      --oddBg2: #e6e6e6;
      --oddBg3: #d9d9d9;
      --oddBgHover: #f7f7f7;
      --oddBg2Hover: #dedede;
      --oddBg3Hover: #d1d1d1;
      --oddRGBA: rgba(255, 255, 255, 0.7);
      --oddRGBA2: rgba(255, 255, 255, 0.5);
      --oddRGBA3: rgba(255, 255, 255, 0.3);
      --oddRGBA3: rgba(255, 255, 255, 0.3);
      --oddTxt: rgba(252, 252, 252, 0.9);
      --oddTxt2: rgba(252, 252, 252, 0.6);
      --oddTxt3: rgba(252, 252, 252, 0.4);
      --oddAccent: #f14100;
      --oddAccentTxt: rgba(249, 249, 249, 0.9);
      --oddBorder: #f14100;
      --oddRadius: 2px 2px 2px 2px;

      --oddActiveBg: #f14100;
      --oddActiveBg2: #ff5111;
      --oddActiveBg3: #ff672f;
      --oddActiveBgHover: #ff4601;
      --oddActiveBg2Hover: #ff5c20;
      --oddActiveBg3Hover: #ff723e;
      --oddActiveRGBA: rgba(241, 65, 0, 0.7);
      --oddActiveRGBA2: rgba(241, 65, 0, 0.5);
      --oddActiveRGBA3: rgba(241, 65, 0, 0.3);
      --oddActiveRGBA3: rgba(241, 65, 0, 0.3);
      --oddActiveTxt: rgba(249, 249, 249, 0.9);
      --oddActiveTxt2: rgba(249, 249, 249, 0.6);
      --oddActiveTxt3: rgba(249, 249, 249, 0.4);
      --oddActiveAccent: #f14100;
      --oddActiveAccentTxt: rgba(249, 249, 249, 0.9);
      --oddActiveBorder: #f14100;
      --oddActiveRadius: 2px 2px 2px 2px;

      --showMoreBg: #fff;
      --showMoreBg2: #e6e6e6;
      --showMoreBg3: #d9d9d9;
      --showMoreBgHover: #f7f7f7;
      --showMoreBg2Hover: #dedede;
      --showMoreBg3Hover: #d1d1d1;
      --showMoreRGBA: rgba(255, 255, 255, 0.7);
      --showMoreRGBA2: rgba(255, 255, 255, 0.5);
      --showMoreRGBA3: rgba(255, 255, 255, 0.3);
      --showMoreRGBA3: rgba(255, 255, 255, 0.3);
      --showMoreTxt: rgba(252, 252, 252, 0.9);
      --showMoreTxt2: rgba(252, 252, 252, 0.6);
      --showMoreTxt3: rgba(252, 252, 252, 0.4);
      --showMoreAccent: #f14100;
      --showMoreAccentTxt: rgba(249, 249, 249, 0.9);
      --showMoreBorder: #f14100;
      --showMoreRadius: 2px 2px 2px 2px;

      --marketHeaderBg: #fff;
      --marketHeaderBg2: #e6e6e6;
      --marketHeaderBg3: #d9d9d9;
      --marketHeaderBgHover: #f7f7f7;
      --marketHeaderBg2Hover: #dedede;
      --marketHeaderBg3Hover: #d1d1d1;
      --marketHeaderRGBA: rgba(255, 255, 255, 0.7);
      --marketHeaderRGBA2: rgba(255, 255, 255, 0.5);
      --marketHeaderRGBA3: rgba(255, 255, 255, 0.3);
      --marketHeaderRGBA3: rgba(255, 255, 255, 0.3);
      --marketHeaderTxt: rgba(252, 252, 252, 0.9);
      --marketHeaderTxt2: rgba(252, 252, 252, 0.6);
      --marketHeaderTxt3: rgba(252, 252, 252, 0.4);
      --marketHeaderAccent: #f14100;
      --marketHeaderAccentTxt: rgba(249, 249, 249, 0.9);
      --marketHeaderBorder: #f14100;
      --marketHeaderRadius: 2px 2px 2px 2px;

      --collapseBg: #fff;
      --collapseBg2: #e6e6e6;
      --collapseBg3: #d9d9d9;
      --collapseBgHover: #f7f7f7;
      --collapseBg2Hover: #dedede;
      --collapseBg3Hover: #d1d1d1;
      --collapseRGBA: rgba(255, 255, 255, 0.7);
      --collapseRGBA2: rgba(255, 255, 255, 0.5);
      --collapseRGBA3: rgba(255, 255, 255, 0.3);
      --collapseRGBA3: rgba(255, 255, 255, 0.3);
      --collapseTxt: rgba(252, 252, 252, 0.9);
      --collapseTxt2: rgba(252, 252, 252, 0.6);
      --collapseTxt3: rgba(252, 252, 252, 0.4);
      --collapseAccent: #f14100;
      --collapseAccentTxt: rgba(249, 249, 249, 0.9);
      --collapseBorder: #f14100;
      --collapseRadius: 2px 2px 2px 2px;

      --tabBg: #333333;
      --tabBg2: #424242;
      --tabBg3: #525252;
      --tabBgHover: #3b3b3b;
      --tabBg2Hover: #4a4a4a;
      --tabBg3Hover: #5a5a5a;
      --tabRGBA: rgba(51, 51, 51, 0.7);
      --tabRGBA2: rgba(51, 51, 51, 0.5);
      --tabRGBA3: rgba(51, 51, 51, 0.3);
      --tabRGBA3: rgba(51, 51, 51, 0.3);
      --tabTxt: rgba(255, 255, 255, 0.9);
      --tabTxt2: rgba(255, 255, 255, 0.6);
      --tabTxt3: rgba(255, 255, 255, 0.4);
      --tabAccent: #f14100;
      --tabAccentTxt: rgba(249, 249, 249, 0.9);
      --tabBorder: #f14100;
      --tabRadius: 2px 2px 2px 2px;

      --tabActiveBg: #fff;
      --tabActiveBg2: #e6e6e6;
      --tabActiveBg3: #d9d9d9;
      --tabActiveBgHover: #f7f7f7;
      --tabActiveBg2Hover: #dedede;
      --tabActiveBg3Hover: #d1d1d1;
      --tabActiveRGBA: rgba(255, 255, 255, 0.7);
      --tabActiveRGBA2: rgba(255, 255, 255, 0.5);
      --tabActiveRGBA3: rgba(255, 255, 255, 0.3);
      --tabActiveRGBA3: rgba(255, 255, 255, 0.3);
      --tabActiveTxt: rgba(252, 252, 252, 0.9);
      --tabActiveTxt2: rgba(252, 252, 252, 0.6);
      --tabActiveTxt3: rgba(252, 252, 252, 0.4);
      --tabActiveAccent: #f14100;
      --tabActiveAccentTxt: rgba(249, 249, 249, 0.9);
      --tabActiveBorder: #f14100;
      --tabActiveRadius: 2px 2px 2px 2px;

      --tabSecondaryActiveBg: #424242;
      --tabSecondaryActiveBg2: #515151;
      --tabSecondaryActiveBg3: #616161;
      --tabSecondaryActiveBgHover: #4a4a4a;
      --tabSecondaryActiveBg2Hover: #595959;
      --tabSecondaryActiveBg3Hover: #696969;
      --tabSecondaryActiveRGBA: rgba(66, 66, 66, 0.7);
      --tabSecondaryActiveRGBA2: rgba(66, 66, 66, 0.5);
      --tabSecondaryActiveRGBA3: rgba(66, 66, 66, 0.3);
      --tabSecondaryActiveRGBA3: rgba(66, 66, 66, 0.3);
      --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
      --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
      --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
      --tabSecondaryActiveAccent: #f14100;
      --tabSecondaryActiveAccentTxt: rgba(249, 249, 249, 0.9);
      --tabSecondaryActiveBorder: #f14100;
      --tabSecondaryActiveRadius: 2px 2px 2px 2px;

      --menu_1Bg: #333333;
      --menu_1Bg2: #424242;
      --menu_1Bg3: #525252;
      --menu_1BgHover: #3b3b3b;
      --menu_1Bg2Hover: #4a4a4a;
      --menu_1Bg3Hover: #5a5a5a;
      --menu_1RGBA: rgba(51, 51, 51, 0.7);
      --menu_1RGBA2: rgba(51, 51, 51, 0.5);
      --menu_1RGBA3: rgba(51, 51, 51, 0.3);
      --menu_1RGBA3: rgba(51, 51, 51, 0.3);
      --menu_1Txt: rgba(255, 255, 255, 0.9);
      --menu_1Txt2: rgba(255, 255, 255, 0.6);
      --menu_1Txt3: rgba(255, 255, 255, 0.4);
      --menu_1Accent: #f14100;
      --menu_1AccentTxt: rgba(249, 249, 249, 0.9);
      --menu_1Border: #f14100;
      --menu_1Radius: 2px 2px 2px 2px;

      --menu_2Bg: #424242;
      --menu_2Bg2: #515151;
      --menu_2Bg3: #616161;
      --menu_2BgHover: #4a4a4a;
      --menu_2Bg2Hover: #595959;
      --menu_2Bg3Hover: #696969;
      --menu_2RGBA: rgba(66, 66, 66, 0.7);
      --menu_2RGBA2: rgba(66, 66, 66, 0.5);
      --menu_2RGBA3: rgba(66, 66, 66, 0.3);
      --menu_2RGBA3: rgba(66, 66, 66, 0.3);
      --menu_2Txt: rgba(255, 255, 255, 0.9);
      --menu_2Txt2: rgba(255, 255, 255, 0.6);
      --menu_2Txt3: rgba(255, 255, 255, 0.4);
      --menu_2Accent: #f14100;
      --menu_2AccentTxt: rgba(249, 249, 249, 0.9);
      --menu_2Border: #f14100;
      --menu_2Radius: 2px 2px 2px 2px;

      --menu_3Bg: #515151;
      --menu_3Bg2: #606060;
      --menu_3Bg3: #707070;
      --menu_3BgHover: #595959;
      --menu_3Bg2Hover: #686868;
      --menu_3Bg3Hover: #787878;
      --menu_3RGBA: rgba(81, 81, 81, 0.7);
      --menu_3RGBA2: rgba(81, 81, 81, 0.5);
      --menu_3RGBA3: rgba(81, 81, 81, 0.3);
      --menu_3RGBA3: rgba(81, 81, 81, 0.3);
      --menu_3Txt: rgba(255, 255, 255, 0.9);
      --menu_3Txt2: rgba(255, 255, 255, 0.6);
      --menu_3Txt3: rgba(255, 255, 255, 0.4);
      --menu_3Accent: #f14100;
      --menu_3AccentTxt: rgba(249, 249, 249, 0.9);
      --menu_3Border: #f14100;
      --menu_3Radius: 2px 2px 2px 2px;

      --inputBg: #fff;
      --inputBg2: #e6e6e6;
      --inputBg3: #d9d9d9;
      --inputBgHover: #f7f7f7;
      --inputBg2Hover: #dedede;
      --inputBg3Hover: #d1d1d1;
      --inputRGBA: rgba(255, 255, 255, 0.7);
      --inputRGBA2: rgba(255, 255, 255, 0.5);
      --inputRGBA3: rgba(255, 255, 255, 0.3);
      --inputRGBA3: rgba(255, 255, 255, 0.3);
      --inputTxt: rgba(252, 252, 252, 0.9);
      --inputTxt2: rgba(252, 252, 252, 0.6);
      --inputTxt3: rgba(252, 252, 252, 0.4);
      --inputAccent: #f14100;
      --inputAccentTxt: rgba(249, 249, 249, 0.9);
      --inputBorder: #f14100;
      --inputRadius: 2px 2px 2px 2px;

      --inputSecondaryBg: #e6e6e6;
      --inputSecondaryBg2: #cccccc;
      --inputSecondaryBg3: #c0c0c0;
      --inputSecondaryBgHover: #dedede;
      --inputSecondaryBg2Hover: #c4c4c4;
      --inputSecondaryBg3Hover: #b8b8b8;
      --inputSecondaryRGBA: rgba(230, 230, 230, 0.7);
      --inputSecondaryRGBA2: rgba(230, 230, 230, 0.5);
      --inputSecondaryRGBA3: rgba(230, 230, 230, 0.3);
      --inputSecondaryRGBA3: rgba(230, 230, 230, 0.3);
      --inputSecondaryTxt: rgba(252, 252, 252, 0.9);
      --inputSecondaryTxt2: rgba(252, 252, 252, 0.6);
      --inputSecondaryTxt3: rgba(252, 252, 252, 0.4);
      --inputSecondaryAccent: #f14100;
      --inputSecondaryAccentTxt: rgba(249, 249, 249, 0.9);
      --inputSecondaryBorder: #f14100;
      --inputSecondaryRadius: 2px 2px 2px 2px;

      --filterBg: #e6e6e6;
      --filterBg2: #cccccc;
      --filterBg3: #c0c0c0;
      --filterBgHover: #dedede;
      --filterBg2Hover: #c4c4c4;
      --filterBg3Hover: #b8b8b8;
      --filterRGBA: rgba(230, 230, 230, 0.7);
      --filterRGBA2: rgba(230, 230, 230, 0.5);
      --filterRGBA3: rgba(230, 230, 230, 0.3);
      --filterRGBA3: rgba(230, 230, 230, 0.3);
      --filterTxt: rgba(252, 252, 252, 0.9);
      --filterTxt2: rgba(252, 252, 252, 0.6);
      --filterTxt3: rgba(252, 252, 252, 0.4);
      --filterAccent: #f14100;
      --filterAccentTxt: rgba(249, 249, 249, 0.9);
      --filterBorder: #f14100;
      --filterRadius: 2px 2px 2px 2px;

      --tooltipBg: #353535;
      --tooltipBg2: #444444;
      --tooltipBg3: #545454;
      --tooltipBgHover: #3d3d3d;
      --tooltipBg2Hover: #4c4c4c;
      --tooltipBg3Hover: #5c5c5c;
      --tooltipRGBA: rgba(53, 53, 53, 0.7);
      --tooltipRGBA2: rgba(53, 53, 53, 0.5);
      --tooltipRGBA3: rgba(53, 53, 53, 0.3);
      --tooltipRGBA3: rgba(53, 53, 53, 0.3);
      --tooltipTxt: rgba(255, 255, 255, 0.9);
      --tooltipTxt2: rgba(255, 255, 255, 0.6);
      --tooltipTxt3: rgba(255, 255, 255, 0.4);
      --tooltipAccent: #f14100;
      --tooltipAccentTxt: rgba(249, 249, 249, 0.9);
      --tooltipBorder: #f14100;
      --tooltipRadius: 2px 2px 2px 2px;

      --modalBg: #333333;
      --modalBg2: #424242;
      --modalBg3: #525252;
      --modalBgHover: #3b3b3b;
      --modalBg2Hover: #4a4a4a;
      --modalBg3Hover: #5a5a5a;
      --modalRGBA: rgba(51, 51, 51, 0.7);
      --modalRGBA2: rgba(51, 51, 51, 0.5);
      --modalRGBA3: rgba(51, 51, 51, 0.3);
      --modalRGBA3: rgba(51, 51, 51, 0.3);
      --modalTxt: rgba(255, 255, 255, 0.9);
      --modalTxt2: rgba(255, 255, 255, 0.6);
      --modalTxt3: rgba(255, 255, 255, 0.4);
      --modalAccent: #f14100;
      --modalAccentTxt: rgba(249, 249, 249, 0.9);
      --modalBorder: #f14100;
      --modalRadius: 2px 2px 2px 2px;
}
